
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    --branco: #f7f6f6;
    --preto: #111415;
    --verde: #39b54a;
    --rosa: #ff038c;
    --laranja: #FF7D0D;            
    --azul: #1B93DE;
            
    /* zero css */
    margin: 0;
    border: 0;
    padding: 0;
}
body{
    background: var(--preto);
    /* animation-iteration-count: infinite; */
}
#logo-evento{
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.dev-by {
	bottom: 7px;
	position: absolute;
	width: 100%;
	text-align: center;
    font-family: 'Roboto', sans-serif;
}
.dev-by p{
    font-weight: 400;
    color: var(--branco);
    text-align: center;
}
.dev-by a{
    text-decoration: none;
    color: var(--branco);
    font-weight: 300;
}
/**
* Mobile media query
*/
@media (max-width: 600px) { 
    body{
        background-image: url("/public_assets/imagens/bg-3.png");
        background-position: center 50vh;
        background-size: 60vh;
        background-repeat: no-repeat;
        animation: background-home 3s;  
    }
    @keyframes background-home{
        0%{
            background-position: center 150vh;
        }
        100%{
            background-position: center 50vh;
        }
    }
}

/**
* Desktop media query
*/
@media (min-width: 600px){
    body{
        background-image: url("/public_assets/imagens/bg-2.png"), url("/public_assets/imagens/bg-3.png");
        background-position: 69vw 38vh, -13vw -6vh;
        background-repeat: no-repeat, no-repeat;
        background-size: 50vw, 40vw, auto;
    }
}